# Paths for persistence (use absolute paths or relative to docker-compose.yml)
HOST_BACKUP_PATH=./data/backup
HOST_NONBACKUP_PATH=./data/nonbackup
HOST_CERTS_PATH=./nginx/ssl

# Node Configuration
NODE_IP=127.0.0.1
NODE_CLIENT_IP=

# Infrastructure Images
ETCD_IMAGE=gcr.io/etcd-development/etcd:v3.6.11
NGINX_IMAGE=nginx:latest
ALPINE_IMAGE=alpine:latest

# Cluster Runtime
NODE_NAME=node-1
PORT=3000
CORS_ORIGIN=true
KEEPALIVED_PASSWORD=c0r3d0ck3r
ETCD_HOSTS=http://core-docker-etcd:2379
DNS_FORWARDER=192.168.1.1
DNS_PRODUCTION=false
LOG_LEVEL=info
