# Paths for persistence (use absolute paths or relative to docker-compose.yml)
BACKUP_LOCATION=./data/backup
NONBACKUP_LOCATION=./data/nonbackup
CERTS_LOCATION=./nginx/ssl

# Node Configuration
NODE_DOMAIN=node-1.local
NODE_IP=127.0.0.1
